<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h2> Add Category:</h2>
    <form method="POST" action ="{% url 'category_list' %}">
        {% csrf_token %}
        <label for="name"> Category name:</label>
        <input type="text"  name="name" required>
        <button type="submit ">Add Category</button>
    </form>
<hr>
<h2>All Categories</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% empty %}
            <li>No categories available.</li>
        {% endfor %}
    </ul>
</body>
</html>