<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Us

    </title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>


    <header>
        <div class="nav-links">
            <a href="/">My Blog

            </a>
            <a href="/about-us/">About Us

            </a>
            <a href="/contact-us/">Contact Us

            </a>
        </div>
    </header>
    <div class="container">
        <h1>Contact Us</h1>
        <p>Reach us at support@myblog.com!</p>
    </div>
    
    <footer>
        <p>&copy; 2025 My Blog</p>
    </footer>
    </body> </html> 