<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2> Register :</h2>
    <form method="POST" action ="{% url %}">
        {% csrf_token %}
        <label for="username">username </label><input type="text"  name="name" required>
        <label for="email">Email</label><input type="email" name="email" required>
        <label for="phone_no">Phone no.</label><input type="tel" name="phone_no" >
        <label for="password">Password</label><input type="password" name="password">
    
        <button type="submit "> Register</button>
    </form>
<hr>

</body>
</html>